    <div class="container">
        <div class="col s12 m7">
            <div class="card horizontal pink lighten-2">
                <div class="card-image">
                    <img src="assets/img/clogo.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div align="center">
                            <span class="card-title">Event</span>
                        </div>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <div align="center">
                            <a class="waves-effect waves-light btn col s5 green darken-4">Attending</a>
                            <a class="waves-effect waves-light btn col s5 red accent-4">Not Interested</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event user -->