<div class="container left-padding">
    <div class="row"> <img src="assets/img/chat.jpg" class="img-square image" alt="Cinque Terre" width="100" height="100">
    </div>
    <form ng-submit="ChatCtrl.addMessage()" name="messageForm">
        <input type="text" placeholder="Compose a new message..." ng-model="message" />
        <div class="info">
            <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
            <button ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
    </form>
    <hr />
    <div class="row" ng-repeat="message in messages | orderBy:'time':true" class="message">
        <p><span class="u-chat">{{message.username}}</span></p>
        <p><span class="black-text">{{message.message}}</span> <span class="pull-right">{{ message.time | date:'HH:mm'}}</span></p>
    </div>
</div>