<div class="row" style="background-image: url(assets/img/bglogin.png);height:100% !important;min-height:100%;background-repeat:repeat;">
  <div class="mkRegisterContainer">
      <div class="mkRegisterWrapper">
                 <div class="row">
                    <div align="center" class="mkLoginLogoHeader">
                        <img src="assets/img/logo-orange.png" alt="Phoneix">
                    </div>
                </div>
         <div class="mkRegisterFormOuterbox">
          <div class="mkRegisterFormInnerBox">
           <div class="mkRegisterFormHeader">Registration form</div>
              <div class="mkRegisterFormBody">
                <form name="userForm" ng-submit="authCtrl.register(userForm.$valid)" novalidate>
                    <div class="row">
                    <div class="input-field col-sm-3 col-xs-12  mktextAlign">
                            <label for="role"><b>Register As: </b></label>
                    </div>
                        <div class="input-field col-sm-3 col-xs-6 mktextAlign">
                            <!--<input class="checkbox" type="checkbox" id="student" />
                            <label for="student">Student</label>-->
                            <input class="with-gap" name="role" type="radio" id="student" value="USER" ng-model="authCtrl.client.role" />
                            <label for="student" class="mkCustompaddinglabel">Student</label>
                        </div>
                        <div class="input-field col-sm-3 col-xs-6  mktextAlign">
                            <!--<input class="checkbox" type="checkbox" id="admin" />
                            <label for="admin">Admin</label>-->
                            <input class="with-gap" name="role" type="radio" id="admin" value="ADMIN" ng-model="authCtrl.client.role" />
                            <label for="admin" class="mkCustompaddinglabel">Admin</label>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="input-field col-sm-3 col-xs-12 mktextAlign">
                            <label for="gender"><b>Gender: </b></label>
                        </div>
                        <div class="input-field col-sm-3 col-xs-6 mktextAlign">
                            <!--<input class="checkbox" type="checkbox" id="staff" />
                            <label for="staff">Staff</label>-->
                            <input class="with-gap" name="gender" type="radio" id="male" value="MALE" ng-model="authCtrl.client.gender" />
                            <label for="male" class="mkCustompaddinglabel">Male</label>
                        </div>
                        <div class="input-field col-sm-3 col-xs-6 mktextAlign">
                            <!--<input class="checkbox" type="checkbox" id="student" />
                            <label for="student">Student</label>-->
                            <input class="with-gap" name="gender" type="radio" id="female" value="FEMALE" ng-model="authCtrl.client.gender" />
                            <label for="female" class="mkCustompaddinglabel">Female</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col-md-6 col-sm-6 col-xs-12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="first" name="first" type="text" class="validate" ng-minlength="2" ng-maxlength="8" ng-model="authCtrl.client.firstName" required>
                            <p ng-if="userForm.first.$error.minlength" class="help-block red-text text-accent-4">*First name is too short.</p>
                            <p ng-if="userForm.first.$error.maxlength" class="help-block red-text text-accent-4">*First name is too long.</p>
                            <p ng-if="userForm.first.$invalid && !userForm.first.$pristine" class="help-block red-text text-accent-4">*Name is required.</p>
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="input-field col-md-6 col-sm-6 col-xs-12">
                            <i class="material-icons prefix">assignment_ind</i>
                            <input id="last" name="last" type="text" class="validate" ng-minlength="2" ng-maxlength="8" ng-model="authCtrl.client.lastName"
                                required>
                            <p ng-if="userForm.last.$error.minlength" class="help-block red-text text-accent-4">*Last name is too short.</p>
                            <p ng-if="userForm.last.$error.maxlength" class="help-block red-text text-accent-4">*Last name is too long.</p>
                            <p ng-if="userForm.last.$invalid && !userForm.last.$pristine" class="help-block red-text text-accent-4">*Name is required.</p>
                            <label for="lastName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col-md-6 col-sm-6 col-xs-12">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="usern" name="usern" type="text" class="validate" ng-minlength="3" ng-model="authCtrl.client.username" required>
                            <p ng-if="userForm.usern.$error.minlength" class="help-block red-text text-accent-4">*Username is too short.</p>
                            <p ng-if="userForm.usern.$invalid && !userForm.usern.$pristine" class="help-block red-text text-accent-4">*Username is required.</p>
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col-md-6 col-sm-6 col-xs-12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" name="email" type="email" class="validate" name="email" ng-model="authCtrl.client.emailId">
                            <p ng-if="userForm.email.$invalid && !userForm.email.$pristine" class="help-block red-text text-accent-4">*Enter a valid email.</p>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <!--<div class="row">
                            <form action="#">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                    </div>
                                </div>
                            </form>
                        </div>-->
                    <div class="row">
                        <div class="input-field col-md-6 col-sm-6 col-xs-12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" type="password" class="validate" ng-minlength="3" ng-maxlength="8" ng-required name="password" ng-model="authCtrl.client.password"
                            />
                            <p ng-if="userForm.password.$error.minlength" class="help-block red-text text-accent-4">*Password is too short.</p>
                            <p ng-if="userForm.password.$error.maxlength" class="help-block red-text text-accent-4">*Password is too long.</p>
                            <p ng-if="userForm.password.$invalid && !userForm.password.$pristine" class="help-block red-text text-accent-4">*Password is required.</p>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col-md-6 col-sm-6 col-xs-12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="confirmPassword" type="password" class="validate" name="confirmPassword" ng-model="authCtrl.client.confirmPassword"
                                ng-required>
                            <p ng-if="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine" class="help-block red-text text-accent-4">*Re-Password is required.</p>
                            <label for="confirmPassword">Re-Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="mkRegistrationBtn hoverable" ng-disabled="userForm.$invalid">Register</button>
                    </div>
                </form>
                </div>
                </div>
                <div class="card-action">
                    <a href="#!/login" class="link pull-right"><span class="blue-grey-text text-darken-2">Login now!</span></a>
                    <br>
                    </div>
                </div>

</div>
</div>
</div>
<!-- register page ends here -->