* {
  margin: 0px;
  padding: 0px; }
html{
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 24px; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

header, section, nav, article, aside, footer span {
  display: block; }

body {
  width: 100%;
  text-align: center;
  display: block;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  height:100% !important;
}
.mkLoginContainer, .mkRegisterContainer{
  width:100%;
  text-align:center;
  background-image:url("../images/bglogin.png");
  background-repeat: repeat;
  height: 100%;
  min-height: 100% !important;
}
.mkLoginWrapper, .mkRegisterWrapper{
  width:80%;
  margin:0 auto;
  text-align:center;
  padding-top: 10%;
}
.mkLoginOuterBox{
  background-color:white;
  width:350px;
  margin:0 auto;
  border-radius:6px;
  padding-top:30px;
}
.mkLoginFormTitle{
  background-color:#D64541;
  color:white;
  padding:10px;
  font-size:20px;
  text-transform: uppercase;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 4px solid #888888;
}
.mkLoginFormContent{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left:1px solid #888888;
  border-right:1px solid #888888;
  border-bottom:4px solid #888888;
  padding:10px;
  position:relative;
}
.mkLoginFormContent .form-horizontal{
  padding:20px;
}
.mkLoginFormContent .form-horizontal .form-control{
  border:1px solid #888888;
  color:#888888;
}
.mkLoginFormContent .form-horizontal .input-group-addon{
  background-color:#888888;
  border:1px solid #888888;
  color:white;
}
.mkLoginOperations{
  text-align:right;
}
.mkLoginButton, .mkRegistrationBtn button{
  background-color:#D64541;
  padding:5px 10px;
  border-radius:6px;
  color:white;
  border:none;
}
.mkLoginRegisterNowContainer{
  position:absolute;
  bottom:0;
  right:31px;
}
.mkLoginRememberMe a{
  color:#888888;
  text-decoration: underline;
  font-size:12px;
}
.mkRegisterFormOuterbox{
  background-color:#EEEEEE;
  width:80%;
  text-align: center;
  border:1px solid #D64541;
  border-radius:6px;
  padding:20px;
  margin: 30px auto 20px auto;
}
.mkRegisterFormSections{
  margin:10px;
  color:#888888;
  text-align:left;
}
.mkRegisterFormSections .input-group{
  border: 1px solid #888888;
  border-radius:4px;
}
.mkRegisterFormSections .input-group-addon{
  background-color:#888888;
  color:white;
}
.mkRegisterFormInnerBox{
  width:100%;
  margin:0 auto;
  text-align:center;
}
.mkRegisterFormBody{
  margin:0 auto;
}
.mkSideMenuContainer{
  margin-top:52px;
  position:fixed;
  width:290px;
  height:100%;
  text-align:left;
  background-color: #888888;
  color:white;
}
.mkNavigation{
  background-color: #EB6361 !important;
  color:white !important;
}
.mkRegisterFormHeader{
  color:#6C7A89;
  font-size:23px;
  border-bottom:1px solid #BFBFBF;
  text-transform: uppercase;
  margin-bottom:20px;
  box-shadow: 0px 0px 1px gray;
}
